.home {
    width: 95%;
    margin: 1rem auto;
}

@media(max-width: 450px) {
    .home {
        width: 70%;
    }
}

.ok {
    color: red;
}
.off {
    background-color: brown;
}
.on {
    background-color: chartreuse;
}